@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(37, 63, 246);
  background: linear-gradient(
    170deg,
    rgba(37, 63, 246, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.btn-glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-glass-pill {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
